/* Exercise 3.1's styles */

header {
    background-color: black;
    color: white;
    padding: 10px;
}

nav {
    background-color: grey;
    color: white;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px
}

/* Exercise 7-8 */

table {
    border: black 1px solid;
    margin: 10px;
}

td,th{
            border: black 1px solid;
            padding: 5px;
        }

.error-message{
    background-color: rgb(221, 61, 70);
    font-weight: bold;
    border-radius: 2px;
    padding: 5px
}

.buttons-login{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

.avatar{
    width: 50px;
    border-radius:50%
}